@import "settings";
@import "node_modules/foundation-sites/scss/foundation.scss";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
// @include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
@include foundation-slider;
// @include foundation-switch;
@include foundation-table;
// Basic components
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// Containers
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
// @include foundation-thumbnail;
// Menu-based containers
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
// @include foundation-dropdown-menu;

// Layout components
// @include foundation-off-canvas;
// @include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
// @include foundation-top-bar;

// Helpers
@include foundation-float-classes;
// @include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Vendor
@import "vendor/swiper";

body {
  background-image: url("../images/astronaut.png");
  background-repeat: no-repeat;
  background-position: right 30% bottom 2rem;
  background-size: 200% auto;
  @include breakpoint(large) {
    background-image: url("../images/hero-bg.png"),
      url("../images/astronaut.png");
    background-position: right top, left 10% bottom 2rem;
    background-size: auto, auto;
  }

  &.show-menu {
    overflow: hidden;
  }
}

.nav {
  min-height: 100%;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 24px;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.25s ease-in-out;

  body.show-menu & {
    transform: translate3d(0, 0, 0);
  }

  @include breakpoint(large) {
    background-color: transparent;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    transform: translate3d(0, 0, 0);
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.nav__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 1.315;
  font-size: 40px;

  @include breakpoint(large) {
    @include xy-grid-container;
    flex: 1;
    font-size: 14px;
  }
}

.nav__menu-item {
  padding: 8px 0;
  color: $body-font-color;
  @include breakpoint(large) {
    padding: 20px 0;
  }
}

.nav__menu-link {
  color: inherit;
  text-decoration: none;
  pointer-events: all;
  &.is-current {
    color: map-get($foundation-palette, primary);
    &::before {
      content: "—";
      margin-right: 1em;
    }
  }
}

.nav__close {
  position: absolute;
  right: 28px;
  top: 36px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out 0.25s;

  body.show-menu & {
    visibility: visible;
    opacity: 1;
  }
}

.header {
  padding: 24px 0;
  @include breakpoint(large) {
    padding: 80px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 11;
}

.header__burger {
  display: block;
  margin-right: 38px;
  transition: all 0.25s ease-in-out;
  width: auto;

  body.show-menu & {
    width: 0;
    margin-right: 0;
  }

  @include breakpoint(large) {
    display: none;
  }
}

.hero {
  min-height: 100vh;
  background-image: url("../images/hero-bg-small.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 667px;

  @include breakpoint(large) {
    background: none;
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 500;
  line-height: 42px;
  font-size: 40px;
  margin-bottom: 24px;

  @include breakpoint(large) {
    line-height: 75px;
    font-size: 72px;
  }
}

.hero__lead {
  font-weight: 500;
  font-size: 16px;
  @include breakpoint(large) {
    font-size: 24px;
  }
}

.hero__more {
  background-color: #fff !important;
}

.footer {
  padding: 120px 0 340px;
  @include breakpoint(large) {
    padding: 290px 0 80px;
    text-align: right;
  }
}

.section {
  &.has-top-space {
    padding-top: 80px;
  }
  &.has-bottom-space {
    padding-bottom: 80px;
  }
  &.has-y-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section__lead {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 1em;
  @include breakpoint(large) {
    font-size: 24px;
  }
}

.section__title {
  color: map-get($foundation-palette, primary);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 40px;
}

.is-marginless {
  margin: 0 !important;
}

.services__item {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.stories {
  padding-top: 2rem;
  margin: 0 -2px;

  .swiper-pagination {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
  }
  .swiper-pagination-bullet {
    flex: 1 1 auto;
    width: auto;
    height: 2px;
    border-radius: 0;
    margin: 0 2px;
    background-color: #e2e2e2;
    position: relative;
    opacity: 1;
    animation-name: story;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-image: linear-gradient(90deg, #000, #000);
    background-position: left top;
    background-size: 0 auto;
    background-repeat: no-repeat;
    animation-play-state: paused;
    &.swiper-pagination-bullet-active {
      animation-play-state: running;
    }
  }
}

@keyframes story {
  to {
    background-size: 100% auto;
  }
}

.story__slide {
  text-align: center;
}

.logos {
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: map-get($map: $grid-padding-gutters, $key: small) / 2;
  padding-right: map-get($map: $grid-padding-gutters, $key: small) / 2;
  margin-left: -(map-get($map: $grid-padding-gutters, $key: small) / 2);
  margin-right: -(map-get($map: $grid-padding-gutters, $key: small) / 2);
  @include breakpoint(medium) {
    padding-left: map-get($map: $grid-padding-gutters, $key: medium) / 2;
    padding-right: map-get($map: $grid-padding-gutters, $key: medium) / 2;
    margin-left: -(map-get($map: $grid-padding-gutters, $key: medium) / 2);
    margin-right: -(map-get($map: $grid-padding-gutters, $key: medium) / 2);
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.logos__item {
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0);
  }
  &:not(:last-child) {
    margin-right: 80px;
  }

  img {
    max-width: none;
  }
}

a.button {
  text-decoration: none;
}

.contacts__item {
  margin-bottom: 4rem;
  @include breakpoint(large) {
    margin-bottom: 0;
  }
}
